.parent {
  color: blue;
  & > .element {
    color: purple;
    &.second-child {
      color: black;
    }
  }
}

.element { 
  color: red;
}

span {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: blueviolet;
}

// div {
//   display: inline-block;
//   width: 200px;
//   height: 400px;
//   background-color: blueviolet;
// }